.father {
			width: 1000px;
			margin: 0px auto;
			border: 2px solid black;
			/*height: 600px;*/
			/*overflow: hidden;*/
			
		}

/*.father:after {
	content: "";
	display: block;
	clear: both;
}*/

#div01 {
			height: 40px;
			width: 40px;
			border: 3px solid red;
			display: inline-block;
			float: right;
		}

#div02 {
			height: 40px;
			width: 40px;
			border: 3px solid blue;
			display: inline-block;
			float: right;
		}

#div03 {
			height: 40px;
			width: 40px;
			border: 3px solid yellow;
			display: inline-block;
			float: right;
		}

		/*clear： 
			left 左侧不允许有浮动                   
			right: 右侧不允许有浮动                    
			both: 两侧都不允许有浮动                   
			none*/

span {
		border: 3px solid yellow;
		line-height: 30px;
		display: inline-block;
		float: right;
		clear: both;

	}

/*.clear {
	clear: both;
	margin: 0;
	padding: 0;
	
}*/