.upOnLevel {
	display: flex;
	/*flex-direction: column-reverse;*/
	/*flex-wrap: wrap-reverse;*/
	flex-flow: row wrap;
	/*justify-content: center;*/
	/*align-items: flex-end;*/
	align-content: space-evenly;
	width: 400px;
	height: 400px;
	border: 1px solid #D5D8DC;
}


.item01{
	border: 1px solid #EBEDEF;
	background-color: #D6DBDF;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
}

.item02{
	border: 1px solid #FBEEE6;
	background-color: #EDBB99;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
}

.item03{
	border: 1px solid #FCF3CF;
	background-color: #F9E79F;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
}

.item04{
	border: 1px solid #D5F5E3;
	background-color: #ABEBC6;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
}

.item05{
	border: 1px solid #E8DAEF;
	background-color: #D2B4DE;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
}
